main .fondo {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
main .hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
main .hero h1 {
  font-size: 40px;
  margin-top: 30px;
  color: #4acfa2;
  text-shadow: 2px 2px rgba(6, 0, 0, 0.8235294118);
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  margin-bottom: 10%;
}
main .hero a {
  font-size: 30px;
  text-decoration: none;
  color: #8ebcc3;
  background-color: rgb(29, 171, 209);
  padding: 70px 30px;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  border-radius: 50%;
  animation: animacion 2s linear infinite;
  margin-bottom: 40px;
}
main .hero a:hover {
  color: aliceblue;
  text-shadow: 0;
  transition: 1s;
}

.noticias h2 {
  font-family: "Lato", sans-serif;
  font-size: 40px;
  margin-top: 60px;
  margin-bottom: 40px;
  color: #4acfa2;
  text-shadow: 2px 2px rgba(6, 0, 0, 0.8235294118);
  text-transform: uppercase;
  text-align: center;
}
.noticias div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.noticias div div {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid black;
  width: 200px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 19px 18px 19px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 19px 18px 19px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 19px 18px 19px -1px rgba(0, 0, 0, 0.75);
  background-color: rgba(250, 235, 215, 0.583);
  margin-top: 10%;
  margin-bottom: 10%;
}
.noticias div div h3 {
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
  font-family: "Lato", sans-serif;
}
.noticias div div a img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.noticias div div {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid black;
  width: 200px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 19px 18px 19px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 19px 18px 19px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 19px 18px 19px -1px rgba(0, 0, 0, 0.75);
  background-color: rgba(250, 235, 215, 0.583);
  margin-top: 10%;
  margin-bottom: 10%;
}
.noticias div div h3 {
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
  font-family: "Lato", sans-serif;
}
.noticias div div a img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.noticias div div h3 {
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
  font-family: "Lato", sans-serif;
}
.noticias div div iframe {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #247881;
  padding: 20px;
  grid-area: footer;
}
footer .logo-footer img {
  width: 150px;
  height: 150px;
}
footer div a img {
  width: 100px;
  height: 100px;
}
footer a img {
  width: 100px;
  height: 100px;
}
footer a img {
  width: 100px;
  height: 100px;
}
footer div p {
  font-size: 20px;
}

/*# sourceMappingURL=style.css.map */
