@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap");
main .foros div h2, main .noticias h2 {
  color: #4acfa2;
  text-shadow: 2px 2px rgba(6, 0, 0, 0.8235294118);
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  text-align: center;
}

main .noticias div div {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid black;
  width: 300px;
  height: 400px;
  border-radius: 20px;
  box-shadow: 19px 18px 19px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 19px 18px 19px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 19px 18px 19px -1px rgba(0, 0, 0, 0.75);
  background-color: rgba(250, 235, 215, 0.583);
  margin-top: 10%;
  margin-bottom: 10%;
}

main {
  grid-area: main;
}
main .fondo {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
main .hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
main .hero h1 {
  font-size: 40px;
  margin-top: 30px;
  color: #4acfa2;
  text-shadow: 2px 2px rgba(6, 0, 0, 0.8235294118);
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  margin-bottom: 10%;
}
@media screen and (max-width: 896px) {
  main .hero h1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 665px) {
  main .hero h1 {
    text-align: center;
  }
}
main .hero a {
  font-size: 30px;
  text-decoration: none;
  color: #8ebcc3;
  background-color: rgb(29, 171, 209);
  padding: 70px 30px;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  border-radius: 50%;
  animation: animacion 2s linear infinite;
  margin-bottom: 40px;
}
main .hero a:hover {
  color: aliceblue;
  text-shadow: 0;
  transition: 1s;
}
@keyframes animacion {
  0% {
    box-shadow: 0 0 0 0 rgba(29, 171, 209, 0.5), 0 0 0 0 rgba(29, 171, 209, 0.5);
  }
  30% {
    box-shadow: 0 0 0 50px rgba(29, 171, 209, 0.5), 0 0 0 0 rgba(29, 171, 209, 0.5);
  }
  65% {
    box-shadow: 0 0 0 50px rgba(29, 171, 209, 0.5), 0 0 0 30px rgba(29, 171, 209, 0.5);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(29, 171, 209, 0.5), 0 0 0 30px rgba(29, 171, 209, 0.5);
  }
}
main .noticias h2 {
  font-family: "Lato", sans-serif;
  font-size: 40px;
  margin-top: 60px;
  margin-bottom: 40px;
  color: #4acfa2;
}
@media screen and (max-width: 896px) {
  main .noticias h2 {
    font-size: 20px;
  }
}
@media screen and (max-width: 665px) {
  main .noticias h2 {
    font-size: 25px;
  }
}
main .noticias div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
main .noticias div div h3 {
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
  font-family: "Lato", sans-serif;
}
@media screen and (max-width: 665px) {
  main .noticias div div h3 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 3px;
  }
}
main .noticias div div a img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
main .noticias div div iframe {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #247881;
  grid-area: footer;
}
footer .logo-footer img {
  width: 150px;
  height: 150px;
}
@media screen and (max-width: 896px) {
  footer .logo-footer img {
    width: 120px;
    height: 120px;
  }
}
@media screen and (max-width: 665px) {
  footer .logo-footer img {
    width: 100px;
    height: 100px;
  }
}
footer .redes-footer a img {
  width: 70px;
  border-radius: 70px;
  margin-left: 10px;
}
@media screen and (max-width: 896px) {
  footer .redes-footer a img {
    width: 60px;
    border-radius: 100px;
  }
}
footer div p {
  font-size: 15px;
}
@media screen and (max-width: 896px) {
  footer div p {
    font-size: 15px;
  }
}
@media screen and (max-width: 665px) {
  footer div p {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 896px) {
  footer {
    flex-direction: column;
    width: 100vw;
  }
}

main .foros div h2, main .noticias h2 {
  color: #4acfa2;
  text-shadow: 2px 2px rgba(6, 0, 0, 0.8235294118);
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  text-align: center;
}

main .noticias div div {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid black;
  width: 300px;
  height: 400px;
  border-radius: 20px;
  box-shadow: 19px 18px 19px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 19px 18px 19px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 19px 18px 19px -1px rgba(0, 0, 0, 0.75);
  background-color: rgba(250, 235, 215, 0.583);
  margin-top: 10%;
  margin-bottom: 10%;
}

main .foros div h2, main .noticias h2 {
  color: #4acfa2;
  text-shadow: 2px 2px rgba(6, 0, 0, 0.8235294118);
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  text-align: center;
}

main .noticias div div {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid black;
  width: 300px;
  height: 400px;
  border-radius: 20px;
  box-shadow: 19px 18px 19px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 19px 18px 19px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 19px 18px 19px -1px rgba(0, 0, 0, 0.75);
  background-color: rgba(250, 235, 215, 0.583);
  margin-top: 10%;
  margin-bottom: 10%;
}

main .titulo-foro {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .titulo-foro h1 {
  font-size: 60px;
  color: #4acfa2;
  text-shadow: 2px 2px rgba(6, 0, 0, 0.8235294118);
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  margin-bottom: 10%;
}
main .foros {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 30px;
}
main .foros div h2 {
  font-size: 30px;
}
main .foros div a img {
  width: 300px;
  border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  box-shadow: 21px 10px 19px 8px rgba(0, 0, 0, 0.59);
  -webkit-box-shadow: 21px 10px 19px 8px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: 21px 10px 19px 8px rgba(0, 0, 0, 0.59);
  margin-top: 30px;
  margin-bottom: 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr auto 0.7fr;
  grid-template-areas: "header header" "main main" "footer footer";
}

.header {
  grid-area: header;
}

.main .titulo-saludos {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.main .titulo-saludos h1 {
  font-size: 30px;
  margin-top: 30px;
  color: #4acfa2;
  text-shadow: 2px 2px rgba(6, 0, 0, 0.8235294118);
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  margin-bottom: 10%;
  text-align: center;
}
@media screen and (max-width: 665px) {
  .main .titulo-saludos h1 {
    margin-bottom: 20px;
  }
}
.main .seccion-saludos div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.main .seccion-saludos div iframe {
  margin-top: 50px;
  margin-bottom: 30px;
  width: 600px;
  height: 700px;
  box-shadow: 15px 18px 25px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 15px 18px 25px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 15px 18px 25px -2px rgba(0, 0, 0, 0.75);
}
@media screen and (max-width: 665px) {
  .main .seccion-saludos div iframe {
    width: 400;
    height: 500;
  }
}

/*# sourceMappingURL=style.css.map */
