* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap');


/*font-family: 'Lato', sans-serif; */









/* --------------grid------------------ */

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr auto 0.7fr;
    grid-template-areas:
        "header header"
        "main main"
        "footer footer";
}





h2 {
    text-align: center;
    font-family:'Lato', sans-serif ;
}

/* ---------Header/nav -----------*/
.header {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    /* background-color: #247881; */
   grid-area: header; 

}

/* .header nav ul {
    display: flex;
    list-style: none;


}



.header nav ul li {
    margin-left: 20px;
}

.header nav ul li a {
    text-decoration: none;
    color: #43919B;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px white;
    font-size: 25px;
    margin-right: 10px;

} */

/* .header img {

    width: 100px;
    height: 100px;
}

.header nav ul li a:hover {
    color: aliceblue;
    text-shadow: 0;
    transition: 1s;
} */



/* ---------------Main------------ */

.main {
    grid-area: main;
}

main .fondo {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;

}

/* ----------boton/main------------------- */
.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
/* tenemos que animar el hero a */
.hero a {
    font-size: 30px;
    text-decoration: none;
    color: #8ebcc3;
  background-color: rgba(29, 171, 209, 1);
  padding: 70px 30px;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  border-radius: 50%;
  animation: animacion 2s linear infinite;
  margin-bottom: 40px;
}

/* key frame del boton */
@keyframes animacion {

 0%{
     box-shadow:  0 0 0 0 rgba(29, 171, 209, .5), 0 0 0 0 rgba(29, 171, 209, .5)

 }   

 30%{
    box-shadow:  0 0 0 50px rgba(29, 171, 209, .5),  0 0 0 0 rgba(29, 171, 209, .5)

 }

 65%{
    box-shadow:  0 0 0 50px rgba(29, 171, 209, .5), 0 0 0 30px rgba(29, 171, 209, .5)

 }

100%{
    box-shadow:  0 0 0 0 rgba(29, 171, 209, .5), 0 0 0 30px rgba(29, 171, 209, .5)

}

}









.hero a:hover {
    color: aliceblue;
    text-shadow: 0;
    transition: 1s;
}

.hero h1 {
    font-size: 40px;
    margin-top: 30px;
    color: #cdedf2;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    margin-bottom: 10%;


}

/* ------------main/noticias-------------------- */








.noticias  h2 {
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    margin-top: 60px;
    margin-bottom: 40px;
    color: #8ebcc3;
    text-transform: uppercase;
    text-align: center;

}

.noticias > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;


}

.noticias div div {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid black;
    width: 200px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 19px 18px 19px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 19px 18px 19px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 19px 18px 19px -1px rgba(0, 0, 0, 0.75);
    background-color: rgba(250, 235, 215, 0.583);
    margin-top: 10%;
    margin-bottom: 10%;

}

.noticias div div img,
iframe {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.noticias div div h3 {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    font-family: 'Lato', sans-serif;

}


/* --------Footer--------------------- */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #247881;
    padding: 20px;
    grid-area: footer;

   

}

.footer .logo-footer a img {
    width: 100px;
    height: 100px;

}

.footer div img {
    width: 100px;
    border-radius: 100px;
    margin-left: 10px;
}


/* ------------foro---------------------------- */

.titulo-foro {
    display: flex;
    justify-content: center;
    align-items: center
}

.titulo-foro h1 {
    font-size: 60px;
    margin-top: 30px;
    color: #cdedf2;
    text-transform: uppercase;
}

.foros {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;

}

.foros img {
    width: 300px;
    border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    box-shadow: 21px 10px 19px 8px rgba(0, 0, 0, 0.59);
    -webkit-box-shadow: 21px 10px 19px 8px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: 21px 10px 19px 8px rgba(0, 0, 0, 0.59);
    margin-top: 30px;
    margin-bottom: 30px;


}

.foros div h2 {
    font-size: 30px;
    color: #cdedf2;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}





/* --------------------REDES------------------------------- */


.titulo-redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10%;
}

.titulo-redes h1 {
    font-size: 50px;
    text-transform: uppercase;
    color: #cdedf2;
    font-family: 'Lato', sans-serif;
}

.nuestras-redes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 10%;
}

.nuestras-redes img {
    width: 130px;
    border-radius: 150px;
    margin-top: 250px;
    -webkit-border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    box-shadow: 21px 10px 19px 8px rgba(0, 0, 0, 0.59);
    -webkit-box-shadow: 21px 10px 19px 8px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: 21px 10px 19px 8px rgba(0, 0, 0, 0.59);
}


/* -------------------saludos------------------------------------- */
.titulo-saludos {
    display: flex;
    flex-direction: row;
    justify-content: center
}

.titulo-saludos h1 {

    font-size: 30px;
    text-align: center;
    color: #cdedf2;
    text-transform: uppercase;
    font-family:'Lato', sans-serif ;

}

.seccion-saludos {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.seccion-saludos div iframe {
    margin-top: 50px;
    margin-bottom: 30px;
    width: 600px;
    height: 700px;
    box-shadow: 15px 18px 25px -2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 15px 18px 25px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 15px 18px 25px -2px rgba(0, 0, 0, 0.75);


}

/* ---------------sobre nosotros------------------ */

 /* .titulo-sobre-nosotros {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.titulo-sobre-nosotros h1 {
    font-size: 40px;
    color: #247881;
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: 20px;
    font-family: 'Lato', sans-serif;;
}


.sobre-nosotros div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobre-nosotros div h2 {
    font-size: 40px;
    border: 2px none;
    background-color: rgba(255, 255, 255, 0.242);
    border-radius: 100px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}


.sobre-nosotros div p {
    font-size: 50px;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 40px;
    text-align: center;
    border: 2px none;
    background-color: rgba(255, 255, 255, 0.242);
    border-radius: 20px;



} */
 


/* -----------media query------------------- */

@media screen and (max-width:896px) {

    .hero h1 {

        font-size: 30px;


    }

    .header nav ul li a {
        font-size: 15px;
    }


    /* --------------MQmain noticias-------------- */
    .noticias h2 {
        font-size: 20px;
    }


    .noticias div div {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: center;
        border: 1px solid black;
        width: 200px;
        height: 300px;
        border-radius: 20px;
        box-shadow: 19px 18px 19px -1px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 19px 18px 19px -1px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 19px 18px 19px -1px rgba(0, 0, 0, 0.75);
        background-color: rgba(250, 235, 215, 0.583);
    }




    /* ----------------MQfooter----------- */
    .footer{
        flex-direction:flex;
        width: 100vw;
        
    }

    .footer .logo-footer img {
        width: 70px;
        height: 70px;

    }

    .footer div img {
        width: 60px;
        border-radius: 100px;
        ;

    }

    /* -----------------------------foro-------------------------------- */
    .titulo-foro h1 {

        font-size: 40px;
        margin-top: 10%;
    }

    .foros {
       margin-left: 10%;
       margin-top: 10%;
       margin-bottom: 25%;
    }

    .foros div h2 {

        font-size: 25px;





    }

    .foros div img {
        width: 200px;
        height: 300px;


    }

    /*----------------- redes */
    .nuestras-redes {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30%;
    }

    .nuestras-redes img {
        width: 100px;
        margin-left: 20px;
        

    }

    /* ------------saludos----------------------- */
    .titulo-saludos h1 {
        font-size: 25px;
    }

    .seccion-saludos div iframe{
        width:400px;
        height: 400px;
    }


    /* ----------------sobre nosotros------------------- */
    /* .titulo-sobre-nosotros {
        display: flex;
        flex-direction: row;
        justify-content: center;
    } */


}

@media screen and (max-width:665px) {
    .header {
        flex-direction: column;
        width: 100vw;
    }

    .header ul {
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;

    }


    .header nav ul li {
        margin-top: 3px;
    }





    .hero h1 {
        text-align: center;
    }
    

    .noticias .titulo h2 {
        font-size: 25px;
    }


 
    .noticias div div h3 {
        font-size: 20px;
        text-align: center;
        margin-bottom: 3px;
    }



    
    .footer {
        flex-direction: column;
        width: 100vw;

    }

    .footer p {
        font-size: 10px;
        margin-bottom: 20px;
    }


    /* foros  */
    .foros {
        display: flex;
        flex-direction: row;


    }
.foros div {
margin-right: 30px;
}

    .titulo-foro h1 {
        font-size: 25px;
        text-align: center;
    }

    .foros h2 {
        font-size: 20px;
        margin-right: 20px;
    }

    .foros div img {
        width: 150px;
        height: 150px;
    }

    /*----------- redes----------------- */
    .nuestras-redes {
        justify-content: center;
      

    }

    .nuestras-redes img {
        width: 100px;
    }

}