footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #247881;
    padding: 20px;
    grid-area: footer;

    .logo-footer {
        img {
            width: 150px;
            height: 150px;

            @media screen and (max-width:896px) {
                width: 70px;
                height: 70px;
            }
        }

    }


    div {
        a {
            img {
                width: 100px;
                border-radius: 100px;
                margin-left: 10px;


                @media screen and (max-width:896px) {
                    width: 60px;
                    border-radius: 100px;
                }

            }


        }


        a {
            img {
                width: 100px;
                border-radius: 100px;
                margin-left: 10px;



            }
        }


        a {
            img {
                width: 100px;
                border-radius: 100px;
                margin-left: 10px;


            }


        }
    }

    div {
        p {
            font-size: 20px;
            @media screen and (max-width:665px){
                font-size:10px;
                margin-bottom: 20px;
            }
        }
    }

    @media screen and (max-width:896px) {
        flex-direction: flex;
        width: 100vw;

    }
    @media screen and (max-width:665px){
        flex-direction: column;
        width: 100vw;
                    
    }
}