@import'../base/variables';
@import'../base/mapas';

footer {
    display: map-get($footer , display-f);
    justify-content: map-get($footer, justify-content-f);
    align-items: map-get($footer, align-items-f);
    background-color: #27aec3;
    background: linear-gradient(90deg,#27aec3 1%, #247881 50%);
    background: -webkit-linear-gradient(90deg,#27aec3 1%, #247881 50%);
    background: -moz-linear-gradient(90deg,#27aec3 1%, #247881 50%);
    grid-area: footer;

    .logo-footer {
        img {
            width: 150px;
            height: 150px;

            @media screen and (max-width:896px) {
                width: 120px;
                height: 120px;
            }

            @media screen and (max-width:665px) {
                width: 100px;
                height: 100px;
            }
        }

    }


    .redes-footer {
        a {
            img {
                width: 70px;
                border-radius: 70px;
                margin-left: 10px;


                @media screen and (max-width:896px) {
                    width: 60px;
                    border-radius: 100px;
                }

            }


        }



    }

    div {
        p {
            font-size: 15px;

            @media screen and (max-width:896px) {
                font-size: 15px;
            }

            @media screen and (max-width:665px) {

                margin-bottom: 20px;
            }
        }
    }

    @media screen and (max-width:896px) {
        flex-direction: column;
        width: 100vw;
    }


}