@import '../base/listas';
@import'../base/extends';
@import'../base/variables';

main {

    .titulo-foro {
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: nth($fonts-h1, 2);
            color: $font-color;
            text-shadow: 2px 2px #060000d2;
            text-transform: uppercase;
            font-family: 'Lato', sans-serif;
            margin-bottom: 10%;
        }
    }

    .foros {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 30px;

        div {
            h2 {
                font-size: 30px;
                @extend %h2
            }

            a {
                img {
                    width: 300px;
                    border-radius: 200px 200px 200px 200px;
                    -webkit-border-radius: 200px 200px 200px 200px;
                    -moz-border-radius: 200px 200px 200px 200px;
                    box-shadow: 21px 10px 19px 8px rgba(0, 0, 0, 0.59);
                    -webkit-box-shadow: 21px 10px 19px 8px rgba(0, 0, 0, 0.59);
                    -moz-box-shadow: 21px 10px 19px 8px rgba(0, 0, 0, 0.59);
                    margin-top: 30px;
                    margin-bottom: 50px;
                }
            }
        }

    }







}